body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}


.photograph_header {
  display: flex;
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  justify-content: space-around;
  align-items: center;
}

.photograph_header_left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.photograph_header_left h2 {
  color: #d3573c;
  font-size: 3vw;
  margin-block-start: 0.83em;
  margin-block-end: 0.3em;
}

.photograph_header_left h6 {
  color: #901c1c;
  font-size: 1vw;
  margin-block-start: 0.5em;
  margin-block-end: 0.83em;
}

.photograph_header_left p {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.photograph_header_left .subTitle {
  color: black;
  font-size: 0.85vw;
  font-weight: 400;
}

.contact-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.photograph_header img {
  height: 200px;
  width: 200px;
  clip-path: circle();
  object-position: 50% 50%;
  object-fit: cover;
}

.portfolio_section{
  background-color: white;
  margin:0 100px;
}

.portfolio_header{
  display:flex;
  justify-content: left;
  height: 200px;
  margin: 0 100px;
  align-items: center;
}

.portfolio_header menu{
  background-color: white;
}

.describe,
.likes{
  color: #901c1c;
  font-size: 1vw;
}

.portfolio_body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.portfolio_body article img,
.portfolio_body article video{
  height: 430px;
  width: 430px;
  object-position: 50% 50%;
  object-fit: cover;
  cursor: pointer;
}
article{
  margin: 20px 0;
}
article .row{
  display:flex;
  justify-content: space-between;
  align-content: center;
  padding:15px 0;
}

article .row i{
  padding: 0 5px;
}

.fa-heart{
  color: #901c1c;
  font-size: 16px;
}

.lightbox_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

.media_modal{
display:flex;
justify-content: center;
align-content: center;
}

.media_modal .row{
  width:100%;
  display:flex;
  justify-content: center;
  padding-top: 6vh;
}

.media_modal .row .aside-left{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.media_modal .row .aside-right{
  display:flex;
  flex-direction: column;
}

.media_modal .row .aside-left .img_aside,
.media_modal .row .aside-right .img_aside{
  width:2vw;
  height:auto;
  padding: 0 1vw;
  cursor: pointer;
}

.media_modal .row .aside-right .aside_header,
.media_modal .row .aside-right .aside_body{
  height:24em;
}

.media_modal .row .aside-right .aside_header img{
  width:2vw;
  height:auto;
  padding: 0 1vw;
  cursor: pointer;
}


.media_modal .row .body_center .slides img,
.media_modal .row .body_center .slides video{
  height:800px;
  width:auto;
}



.media_modal .row .body_center .slides{
  display:none;
}



.lightbox_subtitle {
  color: #901c1c;
  font-size: 1vw;
  margin-block-start: 0.5em;
  margin-block-end: 0.83em;
}

.contact_modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #bdbab481;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 40%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin:50px auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 50px;
  font-weight: normal;
  text-align: left;
  width:75%;
  
}

form {
  margin-top:30px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 30px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 58px;
  border: none;
  border-radius: 5px;
}

form textarea{
  width:100%;
  height:116px;
  border-radius: 5px;
}
