body {
  font-family: "DM Sans", sans-serif;
  margin: 0 auto;
  width:1440px;
 /* background-image: url("../assets/images/accueil.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 0%;*/
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin: 0 100px;
  margin-top: 18px;
}

.header-photo{
margin-top:30px;
margin-left:80px;
}

h1 {
  color: #901c1c;
  font-size: 36px;
  font-weight: regular;
}


.logo {
  height: 50px;
  margin-left:18px;
}

.badge{
  position: fixed;
  bottom: 0;
  right: 260px;
  width:376px;
  height: 60px;
  background-color: #db8876;
  border-radius: 5px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.badge-left{
  display:flex;
  padding:20px;
  width:170px;
  font-size: 24px;
  font-weight: medium;
}

.badge-right{
  display:flex;
  padding:20px;
  width:170px;
  font-size: 24px;
  font-weight: medium;
}

main{
  margin: 20px 0;
}


.photograph_header {
  display: flex;
  background-color: #fafafa;
  height: 300px;
  width: 1240px;
  margin: 0 102px;
}

.photograph_header_left {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 6px;
  height:170px;
  width: 485px;
  margin-top: 73px;
  margin-left:50px;
}

.photograph_header_left h1 {
  color: #d3573c;
  font-size: 64px;
  font-weight: regular;
  margin-block-start: 0;
  margin-block-end: 0;
}


.photograph_header_left .origin {
  color: #901c1c;
  font-size: 24px;
  font-weight: bold;
}


.photograph_header_left .subtitle {
  color: #525252;
  font-size: 18px;
}

.contact-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 69px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 136px;
}

.contact-button:hover{
  background-color: #d3573c;
  color:black;
}

.photograph_header img {
  height: 200px;
  width: 200px;
  clip-path: circle();
  object-position: 50% 50%;
  object-fit: cover;
  margin-top: 53px;
  margin-left: 288px;
}

.portfolio_section{
 /* background-color: white;*/
  margin:20px 0;
  padding-bottom: 80px;
}

.portfolio_header{
  display:flex;
  justify-content: left;
}

.portfolio_section .dropdown{
 display:flex;
 margin: 12px 100px;
 position:relative;
}

.portfolio_section .dropdown .select-label{
 font-weight: bold;
 margin-right: 10px;
 font-size: 18px;
 }

.dropdown .dropdown-toggle {
  appearance: none;
  background: #901c1c;
  color: #fff;
  border: 0;
  padding: 12px 35px 12px 12px;
  border-radius: 3px;
  text-align: left;
  position: relative;
  max-width: 300px;
  cursor: pointer;
  outline: none;
}


.dropdown .dropdown-toggle::after {
  content: '';
  border-width: 6px;
  border-radius: 3px;
  border-style: solid;
  border-color: transparent;
  border-top-color: inherit;
  position: absolute;
  right: 12px;
  top: calc(50% + 3px);
  transform: translateY(-50%);
}

.dropdown .dropdown-toggle.active::after {
  border-color: transparent;
  border-bottom-color: inherit;
  top: calc(50% - 3px);
}

.dropdown .dropdown-menu {
  position: absolute;
  left: 0%;
  top: 3%;
  transform: translateY(-10%);
  background: #fff;
  box-shadow: 0 1px 4px rgba(150, 150, 150, 0.65);
  list-style: none;
  padding: 5px 0;
  margin: 0;
  max-width: 320px;
  width: calc(100% + 24px);
  border-radius: 3px;
  z-index: 10;
  visibility: hidden;
  overflow: auto;
  max-height: 200px;
}


.dropdown .dropdown-menu[aria-expanded="true"] {
  visibility: visible;
}

.dropdown .dropdown-menu > li {
  height: 35px;
  display: block;
  align-items: center;
  padding: 10px 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown .dropdown-menu > li:hover,
.dropdown .dropdown-menu > li:focus {
  outline: none;
  background: #f2f2f2;
}

.describe{
  width: 250px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.describe-modal{
  color: #901c1c;
  font-size: 24px;
}

.describe,
.likes{
  color: #901c1c;
  font-size: 24px;
}

.portfolio_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1240px;
  margin: 20px auto;
}

.portfolio_body article img,
.portfolio_body article video{
  height: 300px;
  width: 350px;
  object-position: 50% 50%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 7px;
  

}

article .row{
  display:flex;
  justify-content: space-between;
  align-content: center;
  padding:10px 0;
  margin-bottom: 17px;
}

article .row .right-side{
  display:flex;
  justify-content: right;
  align-items: center;
}

article .row i{
  padding-left: 5px;
}

.fa-heart{
  color: #901c1c;
  font-size: 18px;
}

.black{
  color: black;
  font-size: 20px;
  padding-top: 5px;
  padding-left: 5px;
}

.lightbox_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

.media_modal{
display:flex;
justify-content: center;
align-content: center;
}

.media_modal .row{
  width:100%;
  display:flex;
  justify-content: center;
  padding-top: 6vh;
}

.media_modal .row .aside-left{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.media_modal .row .aside-right{
  display:flex;
  flex-direction: column;
}

.media_modal .row .aside-left .img_aside,
.media_modal .row .aside-right .img_aside{
  width:2vw;
  height:auto;
  padding: 0 1vw;
  cursor: pointer;
}

.media_modal .row .aside-right .aside_header,
.media_modal .row .aside-right .aside_body{
  height:24em;
}

.media_modal .row .aside-right .aside_header img{
  width:2vw;
  height:auto;
  padding: 0 1vw;
  cursor: pointer;
}


.media_modal .row .body_center .slides img,
.media_modal .row .body_center .slides video{
  height:800px;
  width:auto;
}



.media_modal .row .body_center .slides{
  display:none;
}


.lightbox_subtitle {
  color: #901c1c;
  font-size: 24px;
  margin-block-start: 0.5em;
  margin-block-end: 0.83em;
}

.contact_modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #bdbab481;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 600px;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin:50px auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 50px;
  font-weight: normal;
  text-align: left;
  width:75%;
  
}

form {
  margin-top:30px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 30px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 20px;
}

form input {
  width: 100%;
  height: 58px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}

form textarea{
  width:100%;
  height:116px;
  border-radius: 5px;
  font-size: 24px;
}

.submit-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 69px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}


/* dropdown styles css*/


.dropdown {
  position: relative;
  cursor: pointer;
  font-size: 18px;
}

.portfolio_section .dropdown .select-label{
  font-weight: bold;
  margin-right: 10px;
  font-size: 18px;
  }
 
 .dropdown .dropdown-toggle {
   appearance: none;
   background: #901c1c;
   color: #fff;
   border: 0;
   padding: 12px 35px 12px 12px;
   border-radius: 3px;
   text-align: left;
   position: relative;
   max-width: 300px;
   cursor: pointer;
   outline: none;
   font-size: 18px;
 }
 
 
 .dropdown .dropdown-toggle::after {
   content: '';
   border-width: 6px;
   border-radius: 3px;
   border-style: solid;
   border-color: transparent;
   border-top-color: inherit;
   position: absolute;
   right: 12px;
   top: calc(50% + 3px);
   transform: translateY(-50%);
 }
 
 .dropdown .dropdown-toggle.active::after {
   border-color: transparent;
   border-bottom-color: inherit;
   top: calc(50% - 3px);
 }
 
 .dropdown .dropdown-menu {
   position: absolute;
   left: 0%;
   top: 3%;
   transform: translateY(-10%);
   background: #901c1c;
   box-shadow: 0 1px 4px rgba(150, 150, 150, 0.65);
   list-style: none;
   padding: 5px 0;
   margin: 0;
   max-width: 320px;
   width: calc(100% + 24px);
   border-radius: 3px;
   z-index: 10;
   visibility: hidden;
   overflow: auto;
   max-height: 200px;
   font-size: 18px;
   color:#fff; 
 }
 
 
 .dropdown .dropdown-menu[aria-expanded="true"] {
   visibility: visible;
 }
 
 .dropdown .dropdown-menu > li {
   height: 35px;
   display: block;
   align-items: center;
   padding: 10px 12px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
 }
 
 .dropdown .dropdown-menu > li:hover,
 .dropdown .dropdown-menu > li:focus {
   outline: none;
   background: #db8876;
 }
